.btn {
	border-radius: 50px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	padding: 10px 16px;
	font-size: 14px;
	transition: 0.3s;
	@include breakpoint (medium) {
		padding: 21px 34px;
		font-size: 20px;
	}
}