.faq {
  background: $color--blue;

  &__inner {
    max-width: $content-width;
    width: 100%;
    margin: 0 auto;
    padding: 80px 20px;
    @include breakpoint (medium) {
      padding: 120px 20px;
    }

    .faq-questions {
      max-width: 600px;
      margin: 0 auto;

      .title {
        font-weight: 700;
        font-style: normal;
        letter-spacing: -.06em;
        line-height: 1em;
        text-transform: none;
        color: #fff200;
        font-size: 40px;
        margin-bottom: 40px;
        @include breakpoint (medium) {
          position: absolute;
          margin-bottom: 0px;
          font-size: 86px;
        }
      }


      .question-block {
        margin: 0 0 50px auto;
        @include breakpoint (medium) {
          width: 60%;
          margin: 0 0 50px auto;
        }

        &:nth-of-type(2n) {
          margin: 0 auto 50px 0;
        }

        p {
          color: $color--white;
          font-size: 25px;
        }

        .question {
          font-weight: 700;
        }
      }
    }
  }
}