
.header {
  display: block;
  position: fixed;
  top:0;
  left:0;
  z-index: 25;
  width: 100%;
  display: flex;
  height: 120px;
  background-color: rgba(0,0,0,0.0);
  transition: ease 0.6s;
  &--scrolled {
    top: 0px;
    height: 70px;
    background-color: rgba(49,49,49,1.0);
  }
  &--hidden {
    top: -500px;
  }

  &__inner {
    max-width: $content-width;
    width: 100%;
    padding: 0 12px;
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    .logo {
      height: 60px;

      img {
        width: 130px;
        height: 60px;
        margin-bottom: 0;
        object-fit: cover;
      }
    }

    nav {
      display: none;
      @include breakpoint (medium) {
        display: flex;
        justify-content: space-between;
      }

      a {
        margin-right: 20px;
        color: $color--white;
        text-transform: uppercase;
        font-weight: bold;
        @include hoverline($color--white, 1px);
        cursor: pointer;
      }

      .socials {
        display: none;
        @include breakpoint (medium) {
          display: flex;
          justify-content: space-between;
          width: 80px;
          margin-left: 50px;
        }

        a {
          @include hoverline(transparent, 1px);
          cursor: pointer;
          display: flex;
          justify-content: center;
          flex-direction: column;

          img {
            margin-bottom: 0;
            height: 20px;
            width: auto;
          }
        }
      }
    }

    .hamburger {
      background: transparent;
      border: none;
      outline: none;
      height: 30px;
      padding: 0;
      cursor: pointer;
      @include breakpoint (medium) {
        display: none;
      }
      @mixin line {
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 2px;
        top: -1px;
        background: white;
        border-radius: 0;
        transition: 0.2s;
      }
      .lines {
        //create middle line
        @include line;
        position: relative;
        &::before,
        &::after {
          @include line;
          background: white;
          position: absolute;
          content: "";
          transform-origin: 35px/14 center;
          left: 0;
          z-index: 30;
        }
        &::before {
          top: -5px;
          background: $color--white;
          height: 2px;
          z-index: 30;
        }
        &::after {
          top: 5px;
          background:$color--white;
          height: 2px;
          z-index: 30;
        }
      }
      &.active {
        .lines {
          background: transparent;
          border:0;
          &:before, &:after{
            // transform-origin: 50% 50%;
            top:0px;
            width: 22px;
            position: absolute;
            z-index: 30;
          }
          &:before{
            transform: rotate(45deg);
          }
          &:after{
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

.landing .header {
  display: none;
}

.work .header {
  display: block;
}

.worker .header {
  display: block;
}