.privacy .content, .terms-and-conditions .content {
  margin-top: 100px;
  @include breakpoint (medium) {
    margin-top: 60px;
  }

  &__inner {

    div {
      
      &:first-child {
        font-size: 30px;
        line-height: 35px;
        @include breakpoint (medium) {
          font-size: 50px;
          line-height: 55px;
        }
      }
    }
  }
}