.slider {
  background: $color--blue;
  padding: 80px 0;
  background-image: url('../../assets/images/mainbanner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  

  &__inner {
    position: relative;

    .slider__nav {
      display: none;
      height: 0;
      @include breakpoint (medium) {
        position: absolute;
        top: 50%;
        left: 7.5%;
        width: 85%;
        display: flex;
        justify-content: space-between;
      }

      .next {
        background: grey;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 30px;
        height: 60px;
        img {
          transform: rotate(270deg);
          height: 40px;
          width: auto;
          margin-bottom: 0;
        }
      }

      .previous {
        background: grey;
        opacity: 0.5;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 30px;
        height: 60px;
        img {
          transform: rotate(90deg);
          height: 40px;
          width: auto;
          margin-bottom: 0;
        }
      }
    }

    .slick-dots {
      display: flex !important;
      justify-content: space-between;
      width: 120px;
      margin: 0 auto;
      list-style-type: none;

      .slick-active {
        margin: 0;
        border-radius: 50%;
        height: 14px;
        width: 14px !important;
        background: yellow;
      }

      li {
        border-radius: 50%;
        height: 14px;
        width: 14px;
        background: white;

        button {
          opacity: 0;
          height: 14px;
          width: 14px;
        }
      }
    }

    .slick-slider {
      position: relative;
      width: 100%;
      max-width: $content-width;
      overflow:hidden;
      margin:24px auto;
      @include breakpoint (medium) {
        overflow: visible;
        max-width: $content-width;
        margin: 0 auto;
        overflow: hidden;
      }
      .slick-next {
        display: none;
        height: 0;
        visibility: hidden;
        z-index: 100;
        cursor:pointer;
        @include breakpoint (medium) {
          display: block;
          visibility: visible;
          position: absolute;
          width: 29px;
          height: 30px;
          bottom: -65px;
          right: calc(50% - 65px);
        }
      }
      .slick-prev {
        height: 0;
        display: none;
        visibility: hidden;
        z-index: 100;
        cursor:pointer;
        @include breakpoint (medium) {
          display: block;
          visibility: visible;
          position: absolute;
          width: 29px;
          height: 30px;
          bottom: -65px;
          left: calc(50% - 5px);
        }
      }
      .slick-slide {
        width: 100%;
        cursor:pointer;
        transition:all ease-in 0.6s;
        outline: none;
  
        a {
          display: flex;
          justify-content: center;
          max-width: 850px;
          margin: 0 auto;
          outline: none;
  
          img {
            width: 850px !important;
            margin-bottom: 0;
            height: 100%;
          }
        }
      }
      .slick-track {
        display: flex;
        width: 100%;
        align-items: center;
      }
    }
  }
}